/*CSS file*/
#main-wrapper {
	padding: 2px;
	text-align: center;
	color: white;
	font-size: 30px;
	background-color: lightskyblue;
	opacity: 10;
}
.inner_container{
	width: 80%;
	margin: 0 auto;
}
input{
	width: 480px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ccc;
}
#bt_go {
	background-color: #3498db;
	color: white;
	margin-top: 5px;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	opacity: 0.5;
}
.dumb_name {
	background-color: cadetblue; /* Green */
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 25px 50px 75px 100px;
	padding: 20px 50px;
	
}
#btn_aval {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#btn_clear {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#btn_go {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#btn_cust {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#btn_sub {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#price_sty {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#btn_cur_rent {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#rent_all {
	background-color: #02d084;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}